bin
.settings
.classpath
.project
.metadata

#Conexion a la BD
src/main/resources/env.properties

# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/m2e-wtp/web-resources/META-INF/maven/losmasomenosdejava/tp3/pom.properties
